<!DOCTYPE html>
<html>
<head>
  <title>CableChat</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<nav class="navbar navbar-dark bg-inverse">
  <%= link_to 'CableChat', root_path, class: 'navbar-brand' %>

  <% if user_signed_in? %>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <span class="text-muted">Logged in as <strong><%= current_user.name %></strong></span>
      </li>
      <li class="nav-item active">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    </ul>
  <% end %>
</nav>

<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container">
    <p class="text-muted">Created by <%= link_to 'Ilya Bodrov', 'http://ilyabodrov.me' %></p>
  </div>
</footer>
</body>
</html>
